// Settings Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.SettingsPage {
  background-image: url("../../assets/svgs/settingspage-background.svg");

  .pallet {

    hr {
      width: 75%;
      margin: .75rem auto;
      margin-top: 2.25rem;
    }

    .settings-p {
      width: 80%;
      padding: 0 .5rem;
      margin: 0 auto;
      color: $mid-light-clr;

      .pass-fff {
        color: $light-clr;
      }
    }
  }

  // Main Settings Section 
  .settings-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Username 
    .account-sect-username {
      display: flex;
      flex-direction: column;
    
      .edit-username-sect {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap; 
        margin: .5rem 0; 
        padding: 1rem;
        gap: .5rem;
        border-bottom: .5px solid rgba(19, 19, 19, 0.349);

        .display-username {
          width: 75%;
          padding: .5rem;
          margin: 0;
          background-color: $mid-dark-clr;
          border-radius: 8px;
          border: 1px solid $low-dark-clr;
          cursor: not-allowed;
        }

        .edit-username-btn {
          border: none;
          margin: 0;
          width: 25%;
          max-width: 100px;
          padding: .5rem;
          background-color: $mid-dark-clr;
          border-radius: 8px;
          border: 1px solid $low-dark-clr;
          transition: all 250ms ease;

          i {
            color: $mid-light-clr;
          }

          &:hover {
            border: 1px solid $second-clr;
            background-color: $low-dark-clr;
            color: $light-clr;

            i {
              color: $light-clr;
            }
          }
        }
      }
    }

    // Edit profile link 
    .edit-profile-link {
      background: transparent;
      color: $mid-light-clr;
      width: 45%;
      max-width: 325px;
      margin: .2rem auto;
      text-align: center;
      padding: .5rem;
      border: 1px solid $low-dark-clr;
      transition: all 250ms ease;

      &:hover {
        border: 1px solid $second-clr;
        background: $low-dark-clr;
        color: $light-clr;
      }
    }

    // Password 
    .account-sect-pass {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // Password Button 
      .change-password-btn {
        background: transparent;
        color: $mid-light-clr;
        width: 45%;
        max-width: 325px;
        margin: 1rem auto;
        text-align: center;
        padding: .5rem;
        border: 1px solid $low-dark-clr;
        transition: all 250ms ease;   
  
        &:hover {
          border: 1px solid $second-clr;
          background: $low-dark-clr;
          color: $light-clr;
        }
      }
    }

    // General Section 

    // Appearance 

    // Report Bugs
    .report-bug-sect {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .report-bug-btns {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        justify-content: center;
        gap: 1rem;

        .report-bug-btn, .support-btn {
          background: transparent;
          color: $mid-light-clr;
          width: 30%; 
          max-width: 325px;
          padding: .5rem;
          border: 1px solid $low-dark-clr;
          transition: all 250ms ease;   
    
          &:hover {
            background: $low-dark-clr;
            color: $light-clr;
          }
        }
        
        .report-bug-btn {
          &:hover {
            border: 1px solid $mid-yellow-clr;
          }
        }
        
        .support-btn {
          &:hover {
            border: 1px solid $prime-clr;
          }
        }
      }
    }       

  }
}