// Settings Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.SettingsPage {
  background-image: url("../../assets/svgs/settingspage-background.svg");

  .pallet {

    hr {
      width: 75%;
      margin: .75rem auto;
      margin-top: 2.25rem;
    }

    .settings-p {
      width: 80%;
      margin: 0 auto;
      padding: 0 .5rem;
      color: $mid-light-clr;

      .pass-fff {
        color: $light-clr;
      }
    }
  }

  // Main Settings Section 
  .settings-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Username 
    .account-sect-username {
      display: flex;
      flex-direction: column;
    
      .edit-username-sect {
        gap: .5rem;
        padding: 1rem;
        display: flex;
        flex-wrap: nowrap; 
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin: .5rem 0 1.25rem 0; 
        border-bottom: .5px solid rgba(52, 52, 52, 0.349);

        .display-username {
          margin: 0;
          width: 75%;
          padding: .5rem;
          max-width: 515px;
          border-radius: 8px;
          cursor: not-allowed;
          background-color: $mid-dark-clr;
          border: 1px solid $low-dark-clr;

          &:before {
            left: 4.5%; 
            top: -1.5rem;
            padding: .8rem;
            font-size: .9rem;
            position: absolute;
            color: $mid-light-clr;
            content: "Edit Username";
          }
        }

        .edit-username-btn {
          margin: 0;
          width: 25%;
          border: none;
          padding: .5rem;
          max-width: 100px;
          border-radius: 8px;
          transition: all 250ms ease;
          background-color: $mid-dark-clr;
          border: 1px solid $low-dark-clr;

          i {
            color: $mid-light-clr;
          }

          &:hover {
            color: $light-clr;
            border: 1px solid $second-clr;
            background-color: $low-dark-clr;

            i {
              color: $light-clr;
            }
          }
        }
      }
    }

    // Edit profile link 
    .edit-profile-link {
      width: 45%;
      padding: .5rem;
      max-width: 325px;
      margin: .2rem auto;
      text-align: center;
      color: $mid-light-clr;
      background: transparent;
      transition: all 250ms ease;
      border: 1px solid $low-dark-clr;

      &:hover {
        color: $light-clr;
        background: $low-dark-clr;
        border: 1px solid $second-clr;
      }
    }

    // Password 
    .account-sect-pass {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      // Password Button 
      .change-password-btn {
        padding: .5rem;
        width: 45%;
        max-width: 325px;
        margin: 1rem auto;
        text-align: center;
        color: $mid-light-clr;
        background: transparent;
        transition: all 250ms ease;
        border: 1px solid $low-dark-clr;
  
        &:hover {
          color: $light-clr;
          background: $low-dark-clr;
          border: 1px solid $second-clr;
        }
      }
    }

    // General Section 

    // Appearance 
    .appearance-btns {
      display: flex;
      padding: .8rem;
      flex-wrap: wrap;
      margin: 1rem auto;
      border-radius: 8px; 
      align-items: center;
      flex-direction: column;
      background: $mid-dark-clr;
      justify-content: space-evenly;
      border: 1px solid $low-dark-clr;

      .default-themes, .special-themes {
        display: flex;
        margin: .75rem 0;
        flex-direction: row;
      }

      hr {
        width: 100px;
        margin: .25rem 0;
        color: $mid-light-clr;
      }

      .theme-btn {
        display: flex;
        margin: 0 .5rem;
        border-radius: 10px;
        align-items: center;
        flex-direction: row;
        padding: .8rem 1rem;
        justify-content: center;
        transition: all 250ms ease;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid transparent;

          label {
            cursor: pointer;
            color: $light-clr;
          }

          input {
            margin: 0 .5rem;
            cursor: pointer;
          }
        }

        input {
          margin: 0 .5rem;
        }
        
        label {
          color: $mid-light-clr;
        }
      }

      // Light 
      .light-theme-btn {
        &:hover {
          border-top: 1px solid $light-clr;
          border-bottom: 1px solid $light-clr;
        }
      }

      // Dark 
      .dark-theme-btn {
        &:hover {
          border-top: 1px solid $mid-light-clr;
          border-bottom: 1px solid $mid-light-clr;
        }
      }

      // Red 
      .red-theme-btn {
        &:hover {
          border-top: 1px solid $red-clr;
          border-bottom: 1px solid $red-clr;
        }
      }

      // Earth 
      .earth-theme-btn {
        &:hover {
          border-top: 1px solid rgb(255, 230, 155);
          border-bottom: 1px solid rgb(255, 230, 155);
        }
      }

      // Blue 
      .blue-theme-btn {
        &:hover {
          border-top: 1px solid $prime-clr;
          border-bottom: 1px solid $prime-clr;
        }
      }
    }

    // Report Bugs
    .report-bug-sect {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .report-bug-btns {
        gap: 1rem;
        width: 100%;
        display: flex;
        padding: 1rem;
        flex-direction: row;
        justify-content: center;

        .report-bug-btn,
         .support-btn {
          width: 30%; 
          padding: .5rem;
          max-width: 325px;
          color: $mid-light-clr;
          background: transparent;
          transition: all 250ms ease;   
          border: 1px solid $low-dark-clr;
    
          &:hover {
            color: $light-clr;
            background: $low-dark-clr;
          }
        }
        
        .report-bug-btn {
          &:hover {
            border: 1px solid $mid-yellow-clr;
          }
        }
        
        .support-btn {
          &:hover {
            border: 1px solid $second-clr;
          }
        }
      }
    } 
    
    // Loggout 

    .general-sect-logout {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      justify-content: center;

      .settings-loggout-btn {
        margin: 1rem auto;
        font-size: 1.1rem;
        text-align: center;
        width: fit-content;
        color: $mid-red-clr;

        i {
          color: $mid-light-clr;
        }

        &:hover {
         color: $red-clr;
          text-decoration: underline !important;

          i {
            color: $light-clr;
          }
        }
      }
    }
  }
}


// Media Queries 

@media screen and (max-width: 950px) {
  .SettingsPage {
    background-image: url("../../assets/svgs/settingspage-background.svg");
  
    .pallet {
      .settings-p {
        width: 90%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .appearance-btns, button {
    font-size: .9rem !important;

    .default-themes, .special-themes {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .report-bug-btns {
    padding: 1.5rem 0 !important;
    flex-direction: column  !important;

    button {
      margin: 0 auto;
      width: 80% !important;
    }
  }
}