// About Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.AboutPage {
  background-image: url("../../assets/svgs/aboutpage-background.svg");

  h1 {
    text-align: center;
  }

  .container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .about-sect {
    width: 95%;
    margin: 1.5rem 0;

    .about-sect-content {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      border-radius: 8px;
      flex-direction: row; 
      justify-content: space-evenly;
      border: 1px solid rgba(128, 128, 128, 0.181);
      background-color: $mid-dark-clr;

      p {
        margin: 0;
        padding: 0;
        padding: 1rem 0;
        line-height: 1.75rem; 
      }
    }

    .about-link {
      color: $second-clr;
      transition: all 200ms ease;

      &:hover {
      text-decoration: underline !important;
      }
    }
  }

  #statuesSect 
  .about-sect-content {
    p {
      width: 100%;
    }

    .statue-sect-extra {
      // margin: 0 auto;
      text-align: center; 
    }
  }
}

.about-intro-sect-content,
 .about-sect-content {
  gap: 5%; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center; 

  p {
    width: 50%;
  }

  img {
    width: 40%;
    max-width: 325px;
    min-width: 180px;
  }
}

// Media Queries 

@media screen and (max-width: 1300px) {
  .AboutPage {
    .container {
      .about-intro-sect-content,
      .about-sect-content {
       flex-direction: column;
       p {
        width: 80%;
      }
    
      img {
        width: 80%;
        max-width: 275px;
        min-width: 180px;
        margin: .15rem auto;
      }
     }
    }

  }

}

@media screen and (max-width: 750px) {
  .about-intro-sect-content {
    p {
      width: 100%;
    }

    img {
      width: 80% !important; 
      max-width: 250px;
    }
  }
}