// About Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.AboutPage {
  background-image: url("../../assets/svgs/aboutpage-background.svg");

  h1 {
    text-align: center;
  }

  .about-extra-space {
    width: 100%;
    height: .75rem;
    background-color: transparent;
  }

  .pallet {
    width: 100%;

    .about-sect-content {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      border-radius: 8px;
      flex-direction: row; 
      justify-content: space-evenly;

      p {
        margin: 0;
        padding: 0;
        padding: 1rem 0;
        line-height: 1.75rem; 
      }
    }

    .about-link {
      color: $second-clr;
      transition: all 200ms ease;

      &:hover {
      text-decoration: underline !important;
      }
    }
  }

  #statuesSect 
  .about-sect-content {
    p {
      width: 100%;
    }

    .statue-sect-extra {
      text-align: center; 
    }
  }
}

.about-intro-sect-content,
.about-sect-content {
  gap: 5%; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center; 

  p {
    width: 50%;
  }

  img {
    width: 40%;
    max-width: 325px;
    min-width: 180px;
  }
}

// Media Queries 

@media screen and (max-width: 1300px) {
  .AboutPage {

    #getStartedSect {
      .about-sect-content {
        flex-direction: column-reverse;
      }
    }

    .pallet {
      .about-intro-sect-content {
        flex-direction: column;
      }

      .about-sect-content {
       p {
        width: 100%; 
      }

      img {
        width: 80%;
        max-width: 275px;
        min-width: 180px;
        margin: .15rem auto;
      }
     }
    }
  }
}

@media screen and (max-width: 750px) {
  .about-intro-sect-content,
  .about-sect-content {
    p {
      width: 100%;
      text-align: center;
    }

    img {
      max-width: 250px;
      width: 80% !important; 
    }
  }
}