// About Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.AboutPage {
  background-image: url("../../assets/svgs/aboutpage-background.svg");

  h1 {
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-sect {
    width: 95%;
    margin: 1.5rem 0;

    .about-sect-content {
      border-radius: 8px;
      padding: 1rem;
      justify-content: space-evenly;
      border: 1px solid rgba(128, 128, 128, 0.181);
      background-color: $mid-dark-clr;

      p {
        margin: 0;
        padding: 0;
        line-height: 1.75rem; 
        padding: 1rem 0;
      }
    }

    .about-link {
      color: $second-clr;
      transition: all 200ms ease;

      &:hover {
      text-decoration: underline !important;
      }
    }
  }
}

.about-intro-sect-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5%;

  p {
    width: 50%;
  }

  img {
    width: 40%;
  }
}