/* Animations  */

// SCSS Variables 
@import "../variables.scss";

/* Reveal From the bottom  */

.reveal {
	opacity: 0;
	position: relative;
	transition: 1.2s all ease;
	transform: translateY(150px);
}

.reveal {
  .active {
		opacity: 1;
		transform: translateY(0);
  }
}

/* Reveal from the left  */

.revealLeft {
	opacity: 0;
	position: relative;
	transition: 1.2s all ease;
	transform: translateX(-150px);
}

.revealLeft {
  .activeLeft {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Reveal from the right  */

.revealRight {
	opacity: 0;
	position: relative;
	transition: 1.2s all ease;
	transform: translateX(150px);
}

.revealRight {
  .activeRight {
    opacity: 1;
    transform: translateX(0);
  }
}
