/* Navbar hamburger CSS */

@import "../variables.scss";

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $light-clr;
}

/* Media Query (Mobile Size)  */

@media screen and (max-width: 950px) {

	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.ss-nav-link {
		margin: 1rem 0;
	}

	.aside-comp .active {
		right: 0;
		padding-bottom: 5000vh;
		margin-top: -1px;
	}

	.nav-comp .active {
		background-color: rgba(0, 0, 0, 0.553);
		height: 100vh;
		overflow: hidden;
	}
}
