/* Sweet Alert Styles  */

// SCSS Variables 
@import "../variables.scss";

.swal-modal {
	background-color: rgba(0, 0, 0, 0.936);
	border: 1px solid $mid-light-clr;
}

.swal-title { 
	color: $light-clr;
}

.swal-text {
	color: $light-clr;
}

/* Sweet Alert button  */

.swal-button {
	padding: 7px 19px;
	border-radius: 2px;
	font-size: 15px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
	outline: none;
	border: 1px solid $dark-clr; 
	padding: 0.7rem 1.5rem;
	border-radius: 5px;
	transition: all 250ms ease;
	color: $dark-clr;
	background-color: $second-clr;

		&:hover {
			color: $light-clr !important;
			background-color: $prime-clr !important;	
		}
}

.swal-button:hover {
	color: $dark-clr;
	background-color: transparent;
}

/* Sweet Alert Overlays  */

.swal-overlay {
	background-color: rgba(0, 0, 0, 0.728);
}

/* Sweet Alert Icons  */

.swal-icon {
	background-color: $mid-dark-clr;
	gap: 0;
}
.swal-icon::after {
	background-color: $mid-dark-clr;
}
.swal-icon::before {
	background-color: $mid-dark-clr;
}
.swal-icon--success__hide-corners {
	background-color: $mid-dark-clr;
	padding: 0;
	top: -13px;
	width: 25px;
	height: 128px;
}
