// Aside Style Sheet 

@import "../variables.scss";

.aside-comp {
  display: flex;
  background-color: $mid-dark-clr;
  width: 45%;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 1rem;
  min-height: 100vh;
}

.aside-divider {
  color: $mid-light-clr;
}