// Aside Style Sheet 

// SCSS Variables 
@import "../variables.scss";

.aside-comp {
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  height: 100vh;
  min-width: 325px;
  max-width: 420px;
  align-items: center;
  padding: 1.25rem 1rem;
  flex-direction: column;
  position: sticky !important;
  background-color: $mid-dark-clr;
}

.aside-divider {
  color: $mid-light-clr;
}

// Media Queries 

@media screen and (max-width: 950px) {
  .aside-comp {
    top: 0;
    left: 0;
    height: 8vh;
    max-width: 100%;
    position: sticky;
    padding: 0 1.5rem;
    flex-direction: row;
    justify-content: space-between;
		background-color: rgb(0, 0, 0);

    .container {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .nav-comp {
		top: 60px; 
    z-index: 10;
		width: 100%;
		right: -100%;
    position: fixed;
    font-weight: bold;
		text-align: center;
    font-size: 1.30rem;
    padding-top: 3.5rem; 
		flex-direction: column;
		transition: all 0.3s ease;
		background-color: rgba(0, 0, 0, 0.990);

    li {
      margin: 1.5rem 0;
    }
  }
}

@media screen and (max-width: 345px) {
  .aside-comp {
    width: 100%;
    max-width: 100%;
    padding: .5rem 0;
    min-width: unset;

    .container {
      justify-content: space-evenly;
    }
  }
}