// Chart Style Sheet 

// SCSS Variables 
@import "../variables.scss";

.chart {
  margin: 0 auto;
  max-width: 650px;
  background-color: $mid-dark-clr;
  border-radius: 8px;
  border-right: 1px solid #222222;
  border-top: 1px solid  #222222;
}
