// Chart Style Sheet 

// SCSS Variables 
@import "../variables.scss";

.chart {
  margin: .5rem auto;
  width: 100%; 
  max-width: 700px;
  min-width: 500px;
  background-color: #00000077;
  border-radius: 8px;
  border-right: 1px solid #222222;
  border-top: 1px solid  #222222;

  &:hover {
    cursor: crosshair;
  }

  .chart-title {
    color: $light-clr;
    font-weight: normal !important;
    margin-bottom: -3.5rem !important;
  }
}

// Ranking Badges 

.ranking-numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0 1.8rem 1rem 1.8rem;
  margin: 0 auto;
  margin-top: -1.5rem;
  justify-content: space-evenly;

  .rank-num-1 {
    border: 1px solid #ebc817 !important;
    color: #ebc817 !important; 
  }

  .rank-num-2 {
    border: 1px solid #e4e4e4 !important;
    color: #e4e4e4 !important;
  
  }

  .rank-num-3 {
    border: 1px solid #c59041 !important;
    color: #c59041 !important;
  }

  .rank-num {
    background-color: rgb(10, 10, 10);
    padding: .48rem;
    border-radius: 50%;
    border: 1px solid rgb(46, 46, 46);
    color: $mid-light-clr;
    transition: all 250ms ease;

    &:hover {
      cursor: default;
      filter: drop-shadow(0px 0px 5px rgb(74, 74, 74));
    }
  }
}