// Chart Style Sheet 

// SCSS Variables 
@import "../variables.scss";

// Chart 
.chart {
  width: 100%; 
  max-width: 625px;
  min-width: 475px;
  margin: 1rem auto;
  border-radius: 8px;
  background-color: #00000077;
  border-left: 2px solid  $low-dark-clr;
  border-bottom: 2px solid $low-dark-clr;

  &:hover {
    cursor: default;
  }

  .chart-title {
    color: $light-clr;
    padding: 1rem auto;
    font-weight: normal !important;
    margin-bottom: -3rem !important;
  }
}

// Ranking Badges 

.ranking-numbers {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: nowrap;
  margin-top: -1rem;
  flex-direction: row;
  padding: 0 1rem 1rem 1rem;
  justify-content: space-evenly;

  .rank-num-1 {
    color: #ebc817 !important; 
    border: 1px solid #ebc817 !important;
  }

  .rank-num-2 {
    color: #e4e4e4 !important;
    border: 1px solid #e4e4e4 !important;
  
  }

  .rank-num-3 {
    color: #c59041 !important;
    border: 1px solid #c59041 !important;
  }

  .rank-num {
    padding: .48rem;
    border-radius: 50%;
    color: $mid-light-clr;
    transition: all 250ms ease;
    border: 1px solid $low-dark-clr;
    background-color: rgb(10, 10, 10);

    &:hover {
      cursor: pointer;
      background-color: rgba(10, 10, 10, 0.90);
      filter: drop-shadow(0px 0px 5px rgb(194, 215, 255));
    }
  }
}

// Pie 
.victory-pie {
  padding: .25rem;
  max-width: 375px;
  min-width: 315px;
  margin: .25rem auto;
}

// Media Queries 

@media screen and (max-width: 620px) {
  // The Chart 
  .chart {
    border: none;
    font-size: 1rem;
    min-width: 325px !important;

    g {
      text {
        tspan {
          min-width: 60px;
        }
      }
    }

    .chart-title {
      margin-bottom: -1.5rem !important;
    }

    .ranking-numbers {
      font-size: .8rem !important;
      padding: .5rem 1rem 1rem 1rem;

      .rank-num {
        padding: .45rem;
        border-radius: 50%;
        color: $mid-light-clr;
        transition: all 250ms ease;
        border: 1px solid rgb(46, 46, 46);
        background-color: rgb(10, 10, 10);
      }
    }
  }  

  // Pie 
  .page {
    .victory-pie {
      margin: 0;
      padding: 0;
      min-width: 300px;
      width: 90% !important;
  
      text {
        tspan {
          font-size: 1.25rem !important;
        }
      }
    }
  }
}