// Flares Styles 

// SCSS Variables 
@import "../variables.scss";

.flares-background {
  top: 0;
  left: 0;
  z-Index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: transparent;
  background: -webkit-linear-gradient(to left, #8f94fb, #370799);

  .flares {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }
  
  .flares li {
    width: 15px;
    height: 15px;
    display: block;
    bottom: -150px;
    list-style: none;
    position: absolute;
    border-radius: 50% !important;
    background: rgba(118, 244, 255, 0.2);
    animation: animate 25s linear infinite;
  
  }
  
  .flares li:nth-child(1) {
    left: 25%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
  }
  
  
  .flares li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .flares li:nth-child(3) {
    left: 70%;
    width: 12px;
    height: 12px;
    animation-delay: 4s;
    background: rgba(248, 118, 255, 0.2);

  }
  
  .flares li:nth-child(4) {
    left: 40%;
    width: 13px;
    height: 13px;
    animation-delay: 0s;
    animation-duration: 18s;
    background: rgba(248, 118, 255, 0.2);
  }
  
  .flares li:nth-child(5) {
    left: 65%;
    width: 6px;
    height: 6px;
    animation-delay: 0s;
    background: rgba(248, 118, 255, 0.2);
  }
  
  .flares li:nth-child(6) {
    left: 75%;
    width: 8px;
    height: 8px;
    animation-delay: 3s;
    background: rgba(248, 118, 255, 0.2);
  }
  
  .flares li:nth-child(7) {
    left: 35%;
    width: 15px;
    height: 15px;
    animation-delay: 7s;
  }
  
  .flares li:nth-child(8) {
    left: 50%;
    width: 19px;
    height: 19px;
    animation-delay: 15s;
    animation-duration: 45s;
    background: rgba(248, 118, 255, 0.2);
  }
  
  .flares li:nth-child(9) {
    left: 20%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .flares li:nth-child(10) {
    left: 85%;
    width: 19px;
    height: 19px;
    animation-delay: 0s;
    animation-duration: 11s;
    background: rgba(248, 118, 255, 0.2);
  }
}

// Animations 

@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 0;
    transform: translateY(0) rotate(0deg);
  }

  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(-1000px) rotate(720deg);
  }
}