// Footer Styles 

// SCSS Variables 
@import "../variables.scss";

footer {
  display: flex;
  padding: 2.5rem 0;
  min-height: 150px;
  justify-content: space-around;
  background-color: rgba(36, 36, 36, 0.068);

  .container {
    display: flex;
    width: 100%;
    justify-content: space-around;

    .footer-sect {
      h4 {
        text-align: start;
        font-size: 1.3rem;
        margin: .5rem 0 !important;
      }
    }

    .logo {
      h3 {
        a {
          color: $prime-clr;
          font-size: 1.3rem;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        a {
          color: $mid-light-clr;

          &:hover {
          color: $second-clr;
          text-decoration: underline !important;
          }
        }
      }
    }
  }
}

// Media Queries 

@media screen and (max-width: 420px) {
  .container {
    padding: 0 !important;
  }

  .footer-sect {
    h4 {
      font-size: 1rem;
    }
  }

  .logo {
    h3 {
      a {
        color: $prime-clr;
        font-size: 1rem !important;
      }
    }
  }

  li {
    a {
      font-size: .85rem;
    }
  }
}

@media screen and (max-width: 345px) {
  footer .container {
    text-align: center;
    flex-direction: column;

    .footer-sect {
      margin-bottom: 1rem;
      
      h4 {
        text-align: center;
      }
    }
  }
}