// Footer Styles 

// SCSS Variables 
@import "../variables.scss";

footer {
  z-index: 4;
  width: 100%;
  display: flex;
  min-height: 150px;
  padding: 2.5rem 0;
  background-size: cover;
  background-repeat: no-repeat; 
  justify-content: space-around;
  background-color: #24242411;
  background-position: center 90%;
  background-image: url("../../assets/svgs/footer-comp.svg");

  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .footer-sect {
      h4 {
        font-weight: bold;
        color: $prime-clr;
        text-align: start;
        font-size: 1.3rem;
        margin: .5rem 0 !important;
      }
    }

    // Logo 
    .logo {
      h3 {
        a {
        font-weight: bold;

          color: $prime-clr;
          font-size: 1.3rem;

          &:hover {
           color: $prime-clr;
           text-decoration: none !important;
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        a {
          color: $mid-light-clr;
          &:hover {
          color: $light-clr;
          }
        }
      }
    }
  }
}

// Media Queries 

@media screen and (max-width: 420px) {
  .container {
    padding: 0 !important;
  }

  // Each Section 
  .footer-sect {
    h4 {
      font-size: 1rem;
    }
  }

  // Logo 
  .logo {
    h3 {
      a {
        color: $prime-clr;
        font-size: 1rem !important;
      }
    }
  }

  li {
    a {
      font-size: .85rem;
    }
  }
}

@media screen and (max-width: 345px) {
  footer .container {
    text-align: center;
    flex-direction: column;

    .footer-sect {
      margin-bottom: 1rem;
      
      h4 {
        text-align: center;
      }
    }
  }
}
