// Nav Section For Aside 

// SCSS Variables 
@import "../variables.scss";

nav {
  width: 100%;

  ul {
    text-align: center;
    margin: 0;
    padding: .5rem;

    li {
      margin: .6rem 0;

      .ss-nav-link {
        color: $light-clr; 

        &:hover {
          cursor: pointer;
          color: $prime-clr;
        }
      }

    }
  }
}


.ss-nav-link .ss-active {
  color: pink !important;
  text-decoration: underline !important;
}