// Nav Section For Aside 

// SCSS Variables 
@import "../variables.scss";

nav {
  width: 100%;

  ul {
    text-align: center;
    margin: 0;
    padding: .5rem;

    li {
      margin: .75rem 0;

      .ss-nav-link {
        border-bottom: 1px solid transparent;
        color: $light-clr; 
        transition: all 200ms ease;

        &:hover {
        border-bottom: 1px solid $second-clr;
          cursor: pointer;
          color: $second-clr;
        }
      }

    }
  }
}

// logout 

#logoutBtn {
  color: rgb(255, 111, 111);

  &:hover {
    border-bottom: 1px solid red;
    color: red;
  }
}