// Profile Statue Section

// SCSS Variables 
@import "../variables.scss";

.statue-sect {
  width: 100%;
  // No Statue 
  .no-statue {
    // flex or none 
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    a {
      color: $accent-clr;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .create-statue-btn {
      color: $mid-light-clr;
      width: 100%;
      max-width: 425px;
      margin: .75rem 0;
      padding: .35rem;
      font-size: 1.1rem;
      border-radius: 8px;
      border: 1px solid $low-dark-clr;
      background-color: $mid-dark-clr;
      &:hover {
        color: $light-clr;
        border: 1px solid $accent-clr;
        background-color: $low-dark-clr;
      }
    }
  }

  // Has Statue 
  .statue {
    display: flex;
    flex-direction: row;
    padding: .5rem;
    width: 100%;
    hr {
      background-color: $mid-light-clr;
      width: 80%;
    }
    .primary-sect {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;

      // Statue Image 
      .statue-img {
        width: 90%;
        max-width: 250px;
        min-width: 175px;
        border-bottom: 1px solid $low-dark-clr;
      }

        // Statue Name 
      .statue-name-sect {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        .statue-name {
          color: $light-clr;
          font-size: 1.25rem;
          font-weight: bold;
          background: $mid-dark-clr;
          padding: .35rem;
          text-align: center;
          border-radius: 8px;
          border: 1px solid $low-dark-clr;
          margin: .75rem 0 !important;
        }
        .statue-name-edit {
          width: 55px;
          text-align: center;
          justify-content: center;
          padding: .35rem;
          background: $mid-dark-clr;
          border-radius: 8px;
          border: 1px solid $low-dark-clr;
          margin: .75rem 0 !important;
          &:hover {
            border: 1px solid $accent-clr;
            background: $low-dark-clr;
            color: $light-clr;
          }
        }
      }

      // Statue About 
      .statue-about-sect {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90%;
        justify-content: center;
        gap: 1rem;
        .statue-about {
          color: $mid-light-clr;
          border-radius: 8px;
          background: $mid-dark-clr;
          border: 1px solid $low-dark-clr;
          padding: .8rem;
          width: 100%;
          height: 125px;
        }
        .statue-about-edit {
          padding: .35rem;
          color: $mid-light-clr;
          border-radius: 8px;
          background: $mid-dark-clr;
          border: 1px solid $low-dark-clr;
          &:hover {
            border: 1px solid $accent-clr;
            background: $low-dark-clr;
            color: $light-clr;
          }
        }
      }

      // Statue Badges 
      .badges-sect {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -.75rem;
        left: -1.25rem;
        .statue-badge {
          width: 25px;
          margin-bottom: .5rem;
          img {
            width: 100%;
          }
        }
      }
    }

    // Second Section For Statue 
    .secondary-sect {
      width: 55%;
      h4 {
        margin: .15rem 0 .25rem 0 !important;
      }
      .social-list {
        width: 100%;
        padding: .5rem;
        margin: 0;
        li {
          width: 80%;
          text-align: center;
          padding: .5rem 1rem;
          background: $mid-dark-clr;
          border: 1px solid $low-dark-clr;
          margin: .5rem auto;
          border-radius: 8px;
          a {
            text-align: center;
            color: $mid-light-clr;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            gap: .5rem;
            .social-username {
              margin: 0 .75rem;
            }
          }
          .more-socials-btn {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            border: 1px solid $accent-clr;
            background: $low-dark-clr;
          }
        }
        .social-extra-link-platform {
          color: $mid-light-clr;
        }
      }
    }
  }
}