// RichList Style Sheet 

// SCSS Variables 
@import "../variables.scss";

.rich-list {
  padding: 1rem;
}

// person 
.top-user {
  width: 90%;
  display: flex;
  padding: .5rem;
  margin: 1rem auto;
  flex-wrap: nowrap;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 2000ms ease !important;
  background-image: linear-gradient(to top, $mid-dark-clr, $mid-dark-clr);
  border: 1px solid $mid-light-clr;

  &:hover {
    background-image: linear-gradient(to top, #dafff616, #1111113c);

    .top-user-name {
      color: $prime-clr;
    }

    .top-user-avatar {
      border: 1px solid $prime-clr !important;
      filter: contrast(115%);
    }
  }

    // User Left 
    .top-user-left {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      .top-user-rank {
        padding: 0 1rem;
      }

      .top-user-avatar-wrapper {
        height: 60px; 
        width: 60px;
        border-radius: 50%;
        margin: 0 .8rem;
      }
    
      .top-user-avatar {
        padding: .135rem;
        border: 1px solid $mid-light-clr; 
        height: 100%;
        width: 100%;
        border-radius: 50%; 
      }
    
      .top-user-name {
        font-weight: bold;
        padding: 0 1rem;
      }
    }

    // User Right 
  .top-user-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;

    .top-user-country {
      padding: 0 .75rem;
    }

    .top-user-money {
      padding: 0 1rem;
    }

  }

}