// User Section For Aside 

// SCSS Variables 
@import "../variables.scss";

.user-avatar-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 2.5rem 0;
}

// Top Section 

.user-avatar-sect-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

// Badge 

.badge-sect {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  max-width: 95px;
  max-height: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0; 

  .badge {
    width: 32px;
    margin: 4px;
    border-radius: 50%; 
    border: 1px solid transparent;
    padding: 0;
    padding-bottom: .4rem;
    padding-top: .55rem;
    transition: all 275ms ease;

    a {
      img {
        width: 100%;
      }
    }

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $accent-clr; 
      border-top: 1px solid $accent-clr; 

      img {
        filter: contrast(195%);
      }
    }
  }
}

// Avatar 

.avatar-sect {
  img {
    width: 128px;
    transition: all 250ms ease;
    filter: drop-shadow(0 0 0px);
    border-radius: 50%;
    border: 1px solid $light-clr;
    padding: .35rem;

    &:hover {
      border: 1px solid $prime-clr;
      cursor: pointer;
      filter: drop-shadow(0 0 9px rgba(255, 255, 255, 0.14));
    }
  }
}

// Bottom Section 

.user-avatar-sect-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.username {
  margin: 1rem 0;
  color: $mid-light-clr;
  width: 100%;

  .the-at {
    color: $mid-light-clr;
    margin-right: .2rem;
  }

  a {
    color: $light-clr;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $second-clr;
      text-decoration: underline;
    }
  }
}

.user-bio {
  padding: 0rem 1.3rem;
}

// Follow Count 

.follow-count-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
  padding-top: .5rem;

  p {
    margin: 0;
    padding: 0;
    color: $mid-light-clr;
  }

  .following-count {
    cursor: pointer;
    &:hover span, .following-count  {
      color: $second-clr !important;
    }
  }
}

// Media Queries 

@media screen and (max-width: 950px) {

  .user-avatar-section {
    padding: .5rem;
  }

  .avatar-sect {
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: .5rem;
    
    img {
      width: 75%;
      padding: .15rem;
    }
  }
  
  .badge-sect, .user-avatar-sect-bottom {
    display: none;
  }
}