// User Section For Aside 

// SCSS Variables 
@import "../variables.scss";

.user-avatar-section {
  padding: 5% 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

// Top Section 

.user-avatar-sect-top {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

// Badge 

.badge-sect {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 95px;
  max-height: auto;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  left: 0; 

  .badge {
    padding: 0;
    width: 32px;
    margin: 4px;
    border-radius: 50%; 
    padding-top: .55rem;
    padding-bottom: .4rem;
    transition: all 275ms ease;
    border: 1px solid transparent;

    a {
      img {
        width: 100%;
      }
    }

    &:hover {
      cursor: pointer;
      border-top: 1px solid $accent-clr; 
      border-bottom: 1px solid $accent-clr; 

      img {
        filter: contrast(195%);
      }
    }
  }
}

// Avatar 

.avatar-sect {
  img {
    width: 128px;
    padding: .35rem;
    border-radius: 50%;
    transition: all 250ms ease;
    border: 1px solid $light-clr;
    filter: drop-shadow(0 0 0px);

    &:hover {
      cursor: pointer;
      border: 1px solid $prime-clr;
      filter: drop-shadow(0 0 9px rgba(255, 255, 255, 0.14));
    }
  }
}

// Bottom Section 

.user-avatar-sect-bottom {
  width: 100%;
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  flex-direction: column;
}

.username {
  width: 100%;
  margin: .5rem 0;
  color: $mid-light-clr;

  .the-at {
    margin-right: .2rem;
    color: $mid-light-clr;
  }

  a {
    color: $light-clr;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: $second-clr;
      text-decoration: underline;
    }
  }
}

// User Info 
.user-data {
  width: 100%;
  display: flex;
  padding: .15rem;
  margin-bottom: .5rem;
  flex-direction: column;
  border-bottom: 1px solid transparent;

  .user-experience p,
  .user-gems p,
  span {
    margin: .15rem auto;
    color: $mid-light-clr;
  }

  &:hover {
    border-bottom: 1px solid $low-dark-clr;
  }
}

.user-bio {
  margin: 0;
  padding: 0rem 1.25rem;
}

// Follow Count 

.follow-count-wrapper {
  gap: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-top: .5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    padding: 0;
    color: $mid-light-clr;
  }

  .following-count {
    cursor: pointer;
    &:hover span, .following-count  {
      color: $second-clr !important;
    }
  }
}

// Media Queries 

@media screen and (max-width: 950px) {

  .user-avatar-section {
    padding: .5rem;
  }

  .avatar-sect {
    width: 75px;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    
    img {
      width: 75%;
      padding: .15rem;
    }
  }
  
  .badge-sect, .user-avatar-sect-bottom {
    display: none;
  }
}