// Connections Component 

// SCSS Variables 
@import "../../variables.scss";

.statue-sect {
  .statue {
    .secondary-sect-connections {
      .statue-peer-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: .5rem;
        margin-top: .5rem;


        // a peer 
        .statue-peer {
          display: flex;
          position: relative;
          flex-direction: row;
          align-items: center;
          padding: .2rem .65rem; 
          margin: .25rem;
          width: 80%;
          border-bottom: 1px solid transparent;

          .statue-peer-img-wrapper {
            width: 40px;
            margin: 0 .75rem;
            img {
              width: 100%;
            }
          }
          .statue-peer-name-wrapper {
            .statue-peer-name {
              color: $mid-light-clr;
              &:hover {
                color: $second-clr;
                text-decoration: underline !important;
              }
            }
          }

          .statue-peer-x {
            display: none;
            position: absolute;
            right: .5rem;
            &:hover {
              cursor: pointer;
              color: $mid-red-clr;
            }
          }

          &:hover {
            border-bottom: 1px solid $low-dark-clr;
            .statue-peer-x {
              display: block;
            }
          }
        }
      }
    }
  }
}