// Profile Statue Section

// SCSS Variables 
@import "../../variables.scss";

.statue-sect {
  width: 100%;
  // No Statue 
  .no-statue {
    // flex or none 
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    a {
      color: $accent-clr;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .create-statue-btn {
      width: 100%;
      padding: .35rem;
      margin: .75rem 0;
      max-width: 425px;
      font-size: 1.1rem;
      border-radius: 8px;
      color: $mid-light-clr;
      transition: all 250ms ease-in;
      border: 1px solid $low-dark-clr;
      background-color: $mid-dark-clr;
      &:hover {
        color: $light-clr;
        border: 1px solid $accent-clr;
        background-color: $low-dark-clr;
      }
    }
  }

  // Has Statue 
  .statue {
    width: 100%;
    display: flex;
    padding: .5rem;
    flex-direction: row;
    hr {
      width: 80%;
      background-color: $mid-light-clr;
    }
    .statue-sect-label {
      text-align: center;
      margin-left: .5rem;
      margin-bottom: -.5rem;
    }
    .primary-sect {
      width: 45%;
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;

      // Statue Image 
      .statue-img {
        width: 90%;
        padding: .25rem;
        max-width: 250px;
        min-width: 175px;
        border: 1px solid $low-dark-clr;
      }

        // Statue Name 
      .statue-name-sect {
        gap: 1rem;
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        border: 1px solid transparent;
        .statue-name {
          width: 100%;
          padding: .35rem; 
          font-weight: bold;
          color: $light-clr;
          font-size: 1.25rem;
          text-align: center;
          border-radius: 8px;
          background: $mid-dark-clr;
          border: 1px solid $low-dark-clr;
          margin: 1.25rem 0 0rem 0 !important;
          &:focus {
            outline: none;
            background-color: $low-dark-clr;
            border: 1px solid $mid-light-clr;
          }
        }
        .statue-name-edit {
          width: 100%;
          max-width: unset;
          padding: .5rem .35rem;
          transition: all 250ms ease-in;
        }
      }

      // Statue About 
      .statue-about-sect {
        width: 90%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        .statue-about {
          width: 100%;
          height: 125px;
          padding: .8rem;
          border-radius: 8px;
          color: $mid-light-clr;
          background: $mid-dark-clr;
          border: 1px solid $low-dark-clr;
          &:focus {
            border: 1px solid $mid-light-clr;
            background-color: $low-dark-clr;
          }
        }
        .statue-about-edit {
          width: 100%;
          max-width: unset;
          border-radius: 8px;
          padding: .5rem .35rem;
          color: $mid-light-clr;
          background: $mid-dark-clr;
          transition: all 250ms ease-in;
          border: 1px solid $low-dark-clr;
          i {
            color: $mid-light-clr;
          }
          &:hover {
            color: $light-clr;
            background: $low-dark-clr;
            border: 1px solid $accent-clr;
            i {
              color: $light-clr;
            }
          }
        }
      }

      // Bottom Section 
      .bottom-editable-sect {
        display: flex;
        align-items: center;
        flex-direction: column;

        // Accessories

        // Date Picker 
        .react-datepicker {
          color: $light-clr;
          font-size: .95rem; 
          background: $mid-light-clr;
          border: 1px solid $accent-clr;

          .react-datepicker__header  {
            background: $mid-dark-clr;

            .react-datepicker__day-names .react-datepicker__day-name, .react-datepicker__current-month {
              color: $light-clr !important;
            }
          }
        }

        // Accessories Sections  
        .accessories-headline, .accessories-birthday, .accessories-location, .accessories-company {
          gap: .75rem;
          display: flex;
          flex-wrap: nowrap;
          margin: 1rem auto;
          flex-direction: row;
          align-items: center;
        }

        // The inputs 
        .headline-input, .the-datepicker, .location-input, .company-input {
          width: 100%;
          border: none;
          padding: .35rem 1rem;
          border-radius: 2.75px;
          color: $mid-light-clr;
          outline: none !important;
          background: $low-dark-clr;
          border: 1px solid $low-dark-clr;
          &:focus {
            color: $light-clr;
            border: 1px solid $mid-light-clr;
          }
        }

        .bottom-editable-sect-content-btns {
          width: 100%;
          display: flex;
          flex-direction: row;
          margin: 2.25rem auto;
          justify-content: center;
          gap: 1.5rem;
          button {
            color: $mid-light-clr;
            padding: .35rem 1.25rem;
            background: transparent;
            border: 1px solid transparent;
            transition: all 250ms ease-in;
            border-bottom: 1px solid $low-dark-clr;
            &:hover {
              color: $light-clr;
              background: $low-dark-clr;
              border: 1px solid $accent-clr;
            }
          }
        }

        // Edit Button 
        .edit-accessories {
          margin: 1.25rem auto;
          color: $mid-light-clr;
          padding: .35rem 1.25rem;
          background: transparent;
          border: 1px solid transparent;
          transition: all 250ms ease-in;
          border-bottom: 1px solid $low-dark-clr;
          &:hover {
            color: $light-clr;
            background: $low-dark-clr;
            border: 1px solid $accent-clr;
          }
        }
      }

      // Statue Badges 
      .badges-sect {
        top: -.75rem;
        display: flex;
        left: -1.25rem;
        position: absolute;
        flex-direction: column;
        .statue-badge {
          width: 25px;
          margin-bottom: .5rem;
          img {
            width: 100%;
          }
        }
      }
    }

    // Accessory Buttons 

    // Edit Statue Name Buttons 
    .statue-name-edit-btns,
    .statue-about-edit-btns {
      gap: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      transition: all 300ms ease;
      justify-content: space-evenly;
    }

    .statue-name-edit,
    .statue-about-edit, 
    .statue-name-save, 
    .statue-about-save {
      width: 80%;
      min-width: 50px;
      max-width: 225px;
      border-radius: 8px;
      text-align: center;
      color: $mid-light-clr;
      padding: .5rem .35rem;
      justify-content: center;
      background: $mid-dark-clr;
      border: 1px solid $low-dark-clr;
      transition: all 250ms ease-in;

      i {
        color: $mid-light-clr;
      }
      &:hover {
        color: $light-clr;
        background: $low-dark-clr;
        border: 1px solid $accent-clr;
        i {
          color: $light-clr;
        }
      }
    }

    // ------ Second Section For Statue ------

    .secondary-sect {
      width: 55%;
      h4 {
        margin: .75rem 0 .35rem 0 !important;
      }
      .social-list {
        margin: 0;
        width: 100%;
        padding: .5rem;
        li {
          overflow: hidden;
          display: flex;
          flex-direction: row;
          position: relative;
          width: 80%;
          margin: .5rem auto;
          max-height: 66.5px;
          text-align: center;
          border-radius: 8px;
          padding: .5rem 1rem;
          background: $mid-dark-clr;
          transition: all 250ms ease-in;
          border: 1px solid $low-dark-clr;
          a {
            gap: .5rem;
            display: flex;
            flex-wrap: nowrap;
            text-align: center;
            flex-direction: row;
            color: $mid-light-clr;
            justify-content: start;
            align-items: center;
            .social-username {
              margin: 0 .2rem;
            }
          }
          .statue-social-x {
            display: none;
            position: absolute;
            top: .5rem;
            right: .5rem;
            &:hover {
              cursor: pointer;
              color: $mid-red-clr;
            }
          }

          &:hover {
            background: $low-dark-clr;
            border: 1px solid $accent-clr;
            .statue-social-x {
              display: block;
            }
          }
        }

        // btn to add link 
        .add-social-link-btn-wrapper {
          padding: 0;
          .social-add-link-btn {
            width: 100%;
            height: 100%;
            border: none;
            margin: 0 auto;
            color: $light-clr;
            padding: .5rem 1rem;
            background-color: transparent;
            transition: all 250ms ease-in;
          }
          &:hover {
            cursor: pointer;
          }
        }

        // Adding a New Social 
        .add-social-link-li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          max-height: unset;
          margin: .75rem auto;
          border: 1px solid $mid-light-clr;

          input {
            color: $light-clr;
            margin: .5rem 0 !important;
          }

          span {
            width: 100%;
            margin: .25rem 0;
          }

          .add-social-link-sect,
           .add-social-platform-sect,
           .add-social-username-sect {
            margin: .75rem 0;
            width: 90%;
          }

          .add-social-link,
           .add-social-platform,
           .add-social-username {
             width: 100%;
             border: none;
             margin: 0 auto;
             padding: .25rem;
            background-color: transparent;
            border-bottom: 1px solid $mid-light-clr;
          }

          .add-social-btns {
            gap: 1.25rem;
            display: flex;
            margin: .75rem 0;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            button {
              border: none;
              color: $light-clr;
              padding: .15rem 1rem;
              background: transparent;
              transition: all 250ms ease-in;
              border-top: 1px solid transparent;
              border-bottom: 1px solid $mid-light-clr;
              &:hover {
                background: $low-dark-clr;
                border-top: 1px solid $accent-clr;
                border-bottom: 1px solid $accent-clr;
              }
            }
          }
          &:hover {
            border: 1px solid $light-clr;
            background-color: $mid-dark-clr;
          }
        }

        .more-socials-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 250ms ease-in;
          &:hover {
            cursor: pointer;
          }
        }

        .social-extra-link-platform {
          color: $mid-light-clr;
        }
      }
    }
  }

  // Delete button 
  .delete-statue-btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.75rem 0 1rem 0;

    .delete-statue-btn {
      width: 30%; 
      padding: .5rem;
      max-width: 325px;
      color: $mid-red-clr;
      background: transparent;
      transition: all 250ms ease;   
      border: 1px solid $low-dark-clr;

      &:hover {
        color: $red-clr;
        background: $low-dark-clr;
        border: 1px solid $red-clr;
      }
    }
  }
}

.smaller-size-screen-display-divider {
  display: none;
}

// Media Queries 

@media screen and (max-width: 1230px) {
  .statue-sect {
    .statue {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .smaller-size-screen-display-divider {
        display: block;
      }

      // Prime Sect 
      .primary-sect {
        width: 100%;
        gap: 1rem;

        .statue-name, .statue-name-edit, .statue-about, .statue-about-edit {
          margin: 0 auto;
          width: 75% !important;
        }

        // Edit Statue Name Buttons 
        .statue-name-edit-btns,
        .statue-about-edit-btns {
          width: 75%;
          margin: 0 auto;
        }

        // Bottom Section 
        .bottom-editable-sect {
          display: flex;
          align-items: center;
          flex-direction: column;
          .bottom-editable-sect-content {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;
            flex-direction: row;
            justify-content: center;

            .bottom-editable-sect-content-btns {
              margin: 1.25rem auto;
            }

          // Accessories Sections  
          .accessories-headline, .accessories-birthday, .accessories-location, .accessories-company {
              gap: .5rem;
              margin: 1.25rem .5rem;
            }
          }
        }
      }

      // ---- Second Section ---- 

      .secondary-sect {
        width: 100%;
        h4 {
          margin: 1rem auto !important;
        }

        // Social List 
        .social-list {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-evenly;
          li {
            width: 45%;
            min-width: 285px;
            margin: .5rem .35rem;
            a {
              margin: auto auto;
            }
          }
          .add-social-link-li {
            width: 55%;
          }
        }
      }
    }
  }
  
}