// Login Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.LoginPage {
  position: relative;
  margin: 0 !important;
  width: 100% !important;
  background: rgb(0,111,89);
  background: linear-gradient(124deg, rgba(0,111,89,1) 0%, rgba(0,46,37,1) 9%, rgba(0,19,15,1) 22%, rgba(0,0,0,1) 78%, rgba(59,0,59,1) 92%, rgba(139,0,97,1) 100%);

  .login-page-overlay-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-image: url("../../assets/svgs/loginpage-background.svg");
  }

  // The Input Wrapper 
  .login-inputs-wrapper {
    width: 80%;
    margin: .75rem auto;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
    border-radius: 8px;
    border: 1px solid pink;

    .login-sect {
      width: 80%;
      border: 1px solid #fff;
      margin: 0 auto;

      p {
        color: $accent-clr;
        margin-bottom: .5rem;
      }

      .login-input {
        color: #fff;
        width: 100%;
        background-color: $low-tp;
        padding: .25rem 1.25rem;
      }
    }
  }

}