// Main SASS file 

// Fonts

// Kanit 
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
// Manrope 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

// Var Colors 
@import "./variables.scss";

// Components 
@import "./components/Aside.scss";
@import "./components/Footer.scss";
@import "./components/Nav.scss";
@import "./components/User.scss";

// Swal 
@import "./swal/swal.scss";

// Resets 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif; 
  width: 100%;
  min-height: 100vh; 
  background-image: url("../assets/svgs/body-background.svg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kanit', sans-serif;
  color: $light-clr;
  margin: 1.5rem 0 2.5rem 0 !important;
  font-weight: bold !important;
  text-align: center;

}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
}

p, span, em, li, a, i, div {
  font-family: 'Manrope', sans-serif;
  color: $light-clr;
}

// Core Statue Status Wrapper 

.Statue-Status-Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
}

.page-side-wrapper {
  height: auto; 
  width: 100%;
}

// Page Styles 

.page {
  padding: 2rem .8rem;
  min-height: 100vh;
  width: 95%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.pagebg {
  padding: 2rem .8rem;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// Box pallets 

.pallet {
  padding: 1rem;
  margin: 2rem 0;
  background-color: $mid-dark-clr;
  border: 1px solid rgba(43, 43, 43, 0.714);
  border-radius: 8px;
}

// Alert 

.ss-alert {
  background: linear-gradient(to right, red, purple);
  padding: .8rem;
  border: 1px solid white !important;
  border-radius: 8px;
  margin: 2rem 0;
}


// Media Queries 