// Main SASS file 

// Fonts

// Kanit 
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
// Manrope 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

// Var Colors 
@import "./variables.scss";

// Components 
@import "./components/Nav.scss";
@import "./components/User.scss";
@import "./components/Aside.scss";
@import "./components/Footer.scss";

// Swal 
@import "./utils/swal.scss";

// Scrollbar 
@import "./utils/scrollbar.scss";

// Resets 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Manrope', sans-serif; 
  background-image: url("../assets/svgs/body-background.svg") !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.page {
  hr {
    width: 100%;
    margin: 1rem auto;
  }
}


textarea {
  outline: none;
  resize: none !important;
}

h1, h2, h3, h4 {
  color: $light-clr;
  text-align: center;
  font-weight: bold !important;
  font-family: 'Kanit', sans-serif;
  margin: 2.5rem 0 1rem 0 !important; 

}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-weight: normal !important;
}

p, span, em, li, a, i, div {
  color: $light-clr;
  font-family: 'Manrope', sans-serif;
}

// Core Statue Status Wrapper 

.Statue-Status-Wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
}

.page-side-wrapper {
  width: 100%;
  height: auto; 
  overflow: hidden; 

}

.wrapper-page-sect { 
  width: 100%;
}

// Page Styles 

.page {
  width: 95%;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem .8rem;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.hide {
  display: none !important;
}

.pagebg {
  width: 100%;
  min-height: 100vh;
  padding: 2rem .8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// Box pallets 

.pallet {
  padding: 1rem;
  border-radius: 8px;
  margin: .75rem 0 3rem 0;
  background-color: $mid-dark-clr;
  border: 1px solid $low-dark-clr;
}

// Alert 

.ss-alert {
  padding: .8rem;
  margin: 2rem 0;
  border-radius: 8px;
  border: 1px solid white !important;
  background: linear-gradient(to right, red, purple);
}


// Media Queries 

@media screen and (max-width: 950px) {
  .Statue-Status-Wrapper {
    flex-direction: column; 
    width: 100% !important;
  }

  .page {
    padding-top: 3.25rem;
    width: 100% !important;
  }

  nav {
    z-index: 2;
  }

}

// Smaller Phones 

@media screen and (max-width: 620px) {

  .page {
    padding-top: 2rem;
  }

  .pallet {
    margin: .5rem 0; 
    padding: 1.5rem .5rem;
  }
}