// Main SASS file 

// Fonts

// Kanit 
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
// Manrope 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');
// Roboto Mono 
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&family=Roboto+Mono&display=swap');

// Var Colors 
@import "./variables.scss";

// Components 
@import "./components/Nav.scss";
@import "./components/User.scss";
@import "./components/Aside.scss";
@import "./components/Footer.scss";

// Swal 
@import "./utils/swal.scss";

// Scrollbar 
@import "./utils/scrollbar.scss";

// Resets 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Manrope', sans-serif; 
  background-image: url("../assets/svgs/body-background.svg") !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

.page {
  hr {
    width: 100%;
    margin: 1rem auto;
  }
}


textarea {
  outline: none;
  resize: none !important;
}

.page {
  h1, h2, h3, h4 {
    color: $light-clr;
    font-weight: bold;
    text-align: center;
    margin: .5rem 0 .75rem 0; 
    font-family: 'Kanit', sans-serif;
  }

  .fade-title {
    font-size: 3rem;
    margin: .5rem 0;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    color: rgba(171, 171, 171, 0.324);
  }
}

.page {
  h1 {
    font-size: 2.75rem;
    margin: 2.5rem 0 1rem 0; 
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-family: 'Manrope', sans-serif; 
  }
}

p, span, em, li, a, i, div {
  color: $light-clr;
  font-family: 'Manrope', sans-serif;
}

// Core Statue Status Wrapper 

.Statue-Status-Wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  flex-direction: row;
}

.page-side-wrapper {
  width: 100%;
  height: auto; 
  overflow: hidden; 

}

.wrapper-page-sect { 
  width: 100%;
}

// Page Styles 

.page {
  width: 95%;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem .8rem;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-full {
  width: 100%;
  margin: unset;
}

.hide {
  display: none !important;
}

.pagebg {
  width: 100%;
  min-height: 100vh;
  padding: 2rem .8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// Box pallets 

.pallet {
  padding: 1rem;
  border-radius: 8px;
  margin: .75rem 0 3rem 0;
  background-color: $mid-dark-clr;
  border: 1px solid $low-dark-clr;
}

// Go Back Button 

.go-back-btn {
  cursor: pointer;
  width: fit-content;
  margin-bottom: 1rem;
  color: $mid-light-clr;
  i {
    margin-right: .5rem;
    color: $mid-light-clr;
  }
  &:hover {
    color: $second-clr;
    i {
      color: $second-clr;
    }
  }
}

// Alert 

.ss-alert {
  padding: .8rem;
  margin: 2rem 0;
  border-radius: 8px;
  border: 1px solid white !important;
  background: linear-gradient(to right, red, purple);
}

// Cursor Blinker 

.cursorBlink {
  width: 10px;
  height: 20px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
}

.typed-text {
  width: fit-content;
  font-size: 1.05rem;
  padding: .15rem 1rem;
  background-color: $low-tp;
  font-family: 'Roboto Mono', monospace;
}

// List Block 

.li-block {
  width: 90%;
  display: flex;
  padding: .5rem;
  margin: 1rem auto;
  flex-wrap: nowrap;
  position: relative;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  transition: all 250ms ease;
  justify-content: space-between;
  border: 1px solid $low-dark-clr;
  background-image: linear-gradient(to top, $mid-dark-clr, $mid-dark-clr);

  &:hover {
    border: 1px solid $mid-light-clr;
    background-image: linear-gradient(to top, #00000013, #ffffff05);

    img {
      filter: contrast(115%);
      border: 1px solid $prime-clr !important;
    }
  }
}

// Login Button 

.login-button {
  border: none;
  color: $light-clr;
  margin: 1rem auto;
  border-radius: 6px;
  font-size: 1.25rem;
  padding: .35rem 1.6rem;
  transition: all 250ms ease;
  background-color: $prime-clr;
  border: 1px solid transparent;
  &:hover {
    color: white;
    border-bottom: 1px solid transparent;
    background-color: rgb(65, 157, 255);
  }
}

// Media Queries 

@media screen and (max-width: 950px) {
  .Statue-Status-Wrapper {
    flex-direction: column; 
    width: 100% !important;
  }

  .page {
    padding-top: 3rem;
    width: 100% !important;
  }

  // titles 
  .page {
    .fade-title {
      font-size: 2.25rem;
    }
    h1 {
      font-size: 2rem;
      margin: 2rem 0 .75rem 0; 
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  
  nav {
    z-index: 2;
  }

}

// Smaller Phones 

@media screen and (max-width: 620px) {

  .page {
    padding-top: 2rem;
  }

  .pallet {
    padding: 1.5rem .5rem;
    margin: 1rem 0 1.75rem 0; 
  }
}
