// Storing Core Variables for styling 

// Main 
$prime-clr: #0084ff;
$second-clr: #00ffcc;
$accent-clr: #ff2bbf;

// mid Contrast 
$mid-light-clr: #bdbdbd;
$mid-dark-clr: #0000008b;

$low-dark-clr: #4242424d;

// Full Contrast 
$light-clr: #fff;
$dark-clr: #000;