// Storing Core Variables for styling 

// Main 
$prime-clr: #0084ff;
$second-clr: #00ffcc;
$accent-clr: #ff2bbf;

// mid Contrast 
$mid-light-clr: #bdbdbd;
$mid-dark-clr: #36363682;

$low-dark-clr: #59595960;

$low-tp: #00000048;

// Logout 
$mid-red-clr: #ff6f6f;
$red-clr: #ff2f2ff1;

// Yellow 
$mid-yellow-clr: #fff8aa;
$yellow-clr: #fffb00f1;

// Full Contrast 
$light-clr: #fff;
$dark-clr: #000;

// Special Themes

// Red Wine 
$rw-clr: #58181F;
$mid-rw-clr: #a3323f;

// Earth Tone 

// Blue Ocean 
