// Storing Core Variables for styling 

// Main 
$prime-clr: #0084ff;
$second-clr: #00ffa2;
$accent-clr: #ff00b3;

// Headers 
$h1-clr: #33a7ff;
$h2-clr: #4a4a4aeb;

// mid Contrast 
$mid-light-clr: #eff8ff;
$mid-dark-clr: #111111;

// Full Contrast 
$light-clr: #fff;
$dark-clr: #000;