// Home Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.homepage-title {
  font-weight: bold;
  font-size: 2.75rem;
  letter-spacing: 3px;
  text-align: center;
  margin: 1.5rem 0 2.5rem 0;
  color: rgba(171, 171, 171, 0.705);
}