// Home Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.HomePage {

  .homepage-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    margin: .5rem 0 2rem 0 !important;
    color: rgba(171, 171, 171, 0.324);
  }

  // View All Button 
  .view-all-ppl-btn-wrapper {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
    .view-all-ppl-btn {
      color: $accent-clr;
      &:hover {
        text-decoration: underline !important;
      }
    }
  }

}

.homepage-pallet-chart-bottom {
  gap: .65rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem auto;
}

// Media Query 

@media screen and (max-width: 1255px) {
  
  .homepage-pallet-chart-bottom {
    flex-direction: column;
  }

  .victory-pie {
    margin: 0 auto;
    padding: 1rem 0;
  }

}

@media screen and (max-width: 1165px) {
  .top-user {
    width: 100%;
    padding: .25rem;
    font-size: .9rem;
    margin: .75rem auto;
  }
}

@media screen and (max-width: 950px) {
  .homepage-title {
    font-size: 2.25rem !important;
    margin: .25rem 0 2rem 0 !important;
  }

  .homepage-pallet-chart-bottom {
    gap: 0;
    padding: 0rem;
  }
}