// Not Found Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.NotFoundPage {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0 !important;
  flex-direction: column;
  justify-content: center;
  background-color: black;

  .container {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100%;
    display: flex;
    margin: 0 auto;
    max-width: unset;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  .the-not-found-bg-wrapper {
    width: 100%;
    height: 80vh;
    position: relative;

    .not-found-black {
      position: absolute;
    }

    .one {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 150px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.873), rgba(255, 255, 255, 0) 100%);
    }

    .two {
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 500px;
      background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0) 100%);
    }

  .not-fount-bg {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    background-image: url("../../assets/imgs/not-found-page.png");
  }
  }
}