// Not Found Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.NotFoundPage {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0 !important;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);

  .container {
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100%;
    display: flex;
    margin: 0 auto;
    cursor: default;
    max-width: unset;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;

    .not-found-text-content {
      display: flex;
      text-align: center;
      flex-direction: column;

      h1 {
        cursor: default;
        font-size: 6rem;
        margin-top: -5rem;
      }

      p {
        font-size: 1.1rem;
      }

      i {
        margin: 0 auto;
        font-size: 1.75rem;
        width: fit-content;
        color:rgb(134, 204, 170);

        &:hover {
          color: $light-clr;
          cursor: pointer !important;
        }
      }
    }

  }

  .the-not-found-bg-wrapper {
    width: 100%;
    height: 80vh;
    position: relative;

    .not-found-black {
      position: absolute;
    }

    .one {
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 115px;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.873), rgba(255, 255, 255, 0) 75%);
    }

    .two {
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 420px;
      background-image: linear-gradient(to top, rgb(1,1,1), rgba(0, 0, 0, 0) 100%);
    }

  .not-fount-bg {
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 25%;
    background-image: url("../../assets/imgs/not-found-page.png");
  }
  }
}