// Client Detdails Statue Style Sheet 

// SCSS Variables 
@import "../../variables.scss";

.StatuePage {
 .statue-details-comp {
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: unset; 
  flex-direction: row;
  padding: .5rem 1rem;
  padding-bottom: 2rem;
  align-items: flex-start;
  justify-content: space-evenly; 

  // Social Links 
  .statue-socials-sect {
    margin: 0;
    width: 100%;
    padding: .5rem;

    .statue-link {
      width: 80%;
      display: flex;
      max-width: 375px; 
      overflow: hidden;
      position: relative;
      max-height: 66.5px;
      text-align: center;
      margin: .8rem auto;
      border-radius: 2rem;
      flex-direction: row;
      padding: .5rem .75rem;
      transition: all 250ms ease-in;
      border: 1px solid $low-dark-clr;
      background: rgba(0, 0, 0, 0.405);
      a {
        gap: .5rem;
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        align-items: center;
        flex-direction: row;
        color: $mid-light-clr;
        transition: all 250ms ease;
        justify-content: flex-start;
        i {
          font-size: 1.2rem; 
        }
        .statue-social-username {
          margin: 0 .2rem;
        }
      }
      &:hover {
        background: rgba(0, 0, 0, 0.55);
        a {
          color: $light-clr;
        }
      }
    }
  }

  // Connections 
  .statue-connections-sect {
    margin: 0;
    width: 100%;
    padding: .5rem;
    .statue-connection {
      width: 80%;
      gap: .75rem;
      display: flex;
      position: relative;
      flex-direction: row;
      align-items: center;
      margin: .690rem auto;
      padding: .232rem 1rem;
      justify-content: flex-start;
      transition: all 250ms ease-in;
      border-bottom: 1px solid transparent; 
      .statue-connection-img-wrapper {
        width: 42px;
        margin: 0 .75rem;
        img {
          width: 100%;
          min-width: 37.5px;
          border-radius: 50%;
        }
      }
      .statue-connection-name-wrapper {
        .statue-connection-name {
          color: $light-clr;
          border: 1px solid transparent;
          transition: all 250ms ease-in;
        }
      }
      &:hover {
        border-bottom: 1px solid $mid-light-clr;
      }
    }
  }

  // Accessories 
  .statue-accessories-sect {
    margin: 0;
    width: 100%;
    padding: .5rem;

    .statue-accessory {
      width: 75%;
      gap: 1.25rem;
      display: flex;
      text-align: center;
      margin: .5rem auto;
      flex-direction: row;
      padding: .5rem 1rem;
      border: 1px solid transparent;
      border-bottom: 1px solid $mid-light-clr;
    }
  }
 }
}

// Media Queries 

@media screen and (max-width: 1000px) {
  .StatuePage {
    .statue-details-comp {
      display: flex;

      // Social Links 
      .statue-socials-sect {
        .statue-link {
          padding: .5rem;
          max-height: unset;
          border-radius: 16px;
          .statue-link-anchor {
            gap: .2rem;
            padding: 0;
            flex-wrap: wrap;
            justify-content: center;
            i {
              font-size: 1.15rem; 
            }
          }
        }
      }

      // Accessories 
      .statue-accessories-sect {
        padding: .25rem;
    
        .statue-accessory {
          gap: 1rem;
          width: 80%;
          margin: 1rem auto;
          padding: .25rem .5rem;
          p {
            margin: 0 auto;
          }
          i {
            align-self: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .StatuePage {
    .statue-details-comp {
      padding: 0;
      display: flex;
      flex-direction: column;

      // Adjust Order 
      .statue-detail-social {
        order: 1;
      }
      .statue-detail-accessory {
        order: 2;
      }
      .statue-detail-connection {
        order: 3;
      }

      // Social Links 
      .statue-socials-sect {
        .statue-link {
          padding: .5rem;
          max-height: unset;
          border-radius: 16px;
          .statue-link-anchor {
            gap: .2rem;
            padding: 0;
            flex-wrap: wrap;
            justify-content: center;
            i {
              font-size: 1.15rem; 
            }
          }
        }
      }

      // Accessories 
      
      // Connections 

    }
  }
}
