// Client Top Statue Style Sheet 

// SCSS Variables 
@import "../../variables.scss";

.StatuePage {
  .statue-client-comp {
    width: 100%;
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    // Image 
    .statue-img-wrapper {
      width: 175px;
      display: flex;
      height: 175px;
      overflow: hidden;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      background-color: $low-tp;
      border: 1px solid $light-clr;

      img {
        width: 100%;
        height: 100%;
      }
    }

    // Info 
    .statue-info-wrapper {
      width: 65%;
      padding: .75rem;
      text-align: center;

      p {
        margin: 0;
      }
    }
  }
}