// Statue Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.StatuePage {
  background-image: url("../../assets/imgs/statue-page-background.png");
  background-position: center 35% !important;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    hr {
      margin-top: 0rem;
      margin-bottom: .75rem;
    }

    // Set Widths for Each Detail Section 
    .statue-socials-sect,
    .statue-accessories-sect,
    .statue-connections-sect {
      background-color: $low-tp;
      width: 33.33%;
    }

  }
}