// Statue Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.StatuePage {
  background-image: url("../../assets/imgs/statue-page-background.png");
  background-position: center 35% !important;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    hr {
      margin-top: 0rem;
      margin-bottom: .75rem;
    }

    h5 {
      text-align: center;
    }

    .statue-detail {
      width: 33.33%; 
      display: flex;
      flex-direction: column;
      // justify-content: flex-end;
      margin: .5rem 0 2rem 0;
      align-items: center;

    }

    // Set Widths for Each Detail Section 
    .statue-socials-sect,
    .statue-accessories-sect,
    .statue-connections-sect {
      width: 100%; 
      max-width: 400px;
      min-height: 300px;
      border-radius: 8px;
      background-color: $low-tp;
    }
  }
}