// Profile Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

// Edit Profile Section 
.profile-sect {
  .pallet {
    width: 100%;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      .profile-sect-divider {
        background: $low-dark-clr;
        height: 200px;
        width: 1.5px;
        margin: auto 0;
      }
      .user-edit {
        display: flex;
        flex-direction: row;
        padding: .5rem;
        gap: 1.5rem;
        width: 60%;
        .profile-sect-avatar {
          display: flex;
          flex-direction: column;
          .change-avatar {
            color: $mid-light-clr;
            margin: 2.25rem auto;
            padding: .5rem 1.25rem; 
            border-radius: 8px;
            border: 1px solid $low-dark-clr;
            background-color: $mid-dark-clr;
            &:hover {
              border: 1px solid $accent-clr;
              background-color: $low-dark-clr;
            }
          }
          .profile-sect-avatar-content {
            display: flex;
            align-items: center;
            position: relative;
            width: 150px;
            border: 1px solid $low-dark-clr;
            padding: .25rem;
            margin: .8rem;
            margin-bottom: 0;
            border-radius: 50%;
            overflow: hidden;
            .avatar-edit-overlay {
              display: none;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.65);
              justify-content: center;
              align-items: center;
            }
            img {
              width: 100%;
            }
            &:hover {
              border: 1.25px solid $accent-clr;
              .avatar-edit-overlay {
                cursor: pointer;
                display: flex;
              }
            }
          }
        }

      // Right User Side of Profile 
      .text-edit-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        h4 {
          text-align: start;
          margin: .5rem 0 !important;
        }
        #profileUsername {
          margin: 1.25rem 0 1rem 0 !important;
          border-bottom: 1px solid $low-dark-clr;
        }
        .profile-sect-bio {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .bio-input {
            width: 100% !important;
            min-width: 200px;
            max-width: 425px;
            min-height: 80px;
            background-color: $mid-dark-clr;
            resize: none;
            padding: .25rem;
            outline: none;
            border-radius: 8px;
            border: 1px solid $low-dark-clr;
          }
          .edit-bio-btn {
            color: $mid-light-clr;
            width: 100%;
            max-width: 425px;
            margin: .75rem 0;
            padding: .35rem;
            font-size: 1.1rem;
            border-radius: 8px;
            border: 1px solid $low-dark-clr;
            background-color: $mid-dark-clr;
            &:hover {
              color: $light-clr;
              border: 1px solid $accent-clr;
              background-color: $low-dark-clr;
            }
          }
        }
      }
     }

    // User info 
    .other-user-info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; 
      align-items: flex-start;
      text-align: center;
      width: 25%;
      h4, p {
        text-align: start;
        margin: 0 !important;
        margin-bottom: .8rem !important;
      }
      .profile-sect-badges {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        // width: 80%; 
        // max-width: 155px; 
        margin-bottom: .5rem;
        // padding: .1rem;  
        min-height: 68px;
        .profile-sect-badge {
          width: 25px;
          margin: .25rem;
          img {
            width: 100%;
            min-width: 25px !important;
          }
        }
       }
       .profile-sect-reps {
        .rep {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          font-size: 1.1rem;
          &:hover {
            cursor: default;
            p, span {
              color: $light-clr !important;
            }
            i {
              color: rgb(255, 166, 0);
            }
          }
          p {
            color: $mid-light-clr;
          }
          i {
            margin-left: .8rem;
          }
        }
       }
       .profile-sect-statue {
        a {
          color: $mid-light-clr !important;
          &:hover {
            cursor: pointer;
            color: $accent-clr !important;
            text-decoration: underline !important;
          }
        }
       }
     }
    }
  }
}

// Media Queries 

@media screen and (max-width: 1365px) {

  // Profile Section 
  .profile-sect {
    .pallet {
      padding: 1.75rem 1rem;
      .container {
        display: flex;
        flex-direction: column;
        .profile-sect-divider {
          width: 75%;
          height: 1.5px;
          margin: .5rem auto;
          background: $low-dark-clr;
        }
        .profile-sect-avatar {
          width: 30%;
          align-items: center;
          .profile-sect-avatar-content {
            width: 125px !important;
          }
        }
        .user-edit {
          width: 100%;
          justify-content: space-evenly;
          .text-edit-side {
            width: 65%;
          }
        }
          // User info 
        .other-user-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1.75rem 1rem;
          justify-content: space-evenly; 
          .profile-sect-reps, .profile-sect-statue {
            gap: 1rem;
            text-align: center;
            justify-content: center;
            h4 {
              text-align: center;
            }
            .rep {
              text-align: center;
              align-items: center;
              justify-content: center;
              #repCount {
                margin: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .user-edit {
    gap: 0 !important;
    flex-direction: column !important;
    #profileUsername {
      border-bottom: 1px solid $mid-light-clr;
    }
    .edit-bio-btn {
      margin: 1rem auto !important;
    }
    .change-avatar {
      margin: 0 !important;
      margin-top: .75rem !important;
    }
    .profile-sect-badges {
      .profile-sect-badge {
        margin: 0 .5rem !important;
        img {
          min-width: 25px !important;
        }
      }
    }
    .profile-sect-avatar, .text-edit-side {
      width: 100% !important;
      align-items: center  !important;
      #bioTitle {
        text-align: center;
        margin: 1rem auto !important;
      }
    }
    .profile-sect-reps, .profile-sect-statue {
      width: 80% !important;
      min-width: 80% !important;
    }
    .bio-input {
      min-width: 100% !important;
    }
  }
  .other-user-info {
    flex-direction: column !important;
    gap: 2rem;
    padding: .75rem 0 !important;
  }

  .no-statue {
    text-align: center;
  }
}