// Profile Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

// Edit Profile Section 
.profile-sect {
  .pallet {
    width: 100%;
    .container {
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-evenly;
      .profile-sect-divider {
        width: 1.5px;
        height: 200px;
        margin: auto 0;
        background: $low-dark-clr;
      }
      .user-edit {
        gap: 5%; 
        width: 60%;
        display: flex;
        padding: .5rem 1rem;
        flex-direction: row;
        .profile-sect-avatar {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .change-avatar {
            margin: 1rem auto;
            border-radius: 8px;
            color: $mid-light-clr;
            padding: .5rem 1.25rem; 
            transition: all 250ms ease-in;
            border: 1px solid $low-dark-clr;
            background-color: $mid-dark-clr;
            &:hover {
              border: 1px solid $accent-clr;
              background-color: $low-dark-clr;
            }
          }
          .profile-sect-avatar-content {
            width: 135px;
            height: 135px;
            display: flex;
            margin: .8rem;
            margin-bottom: 0;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            align-items: center;
            justify-content: center;
            border: 1px solid $low-dark-clr;
            .avatar-edit-overlay {
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              display: none;
              position: absolute;
              align-items: center;
              justify-content: center;
              background: rgba(0, 0, 0, 0.65);
            }
            .profile-avatar {
              width: 100%;
              height: 100%;
            }
            &:hover {
              border: 1.25px solid $accent-clr;
              .avatar-edit-overlay {
                display: flex;
                cursor: pointer;
              }
            }
          }
        }

      // Right User Side of Profile 
      .text-edit-side {
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h4 {
          text-align: start;
          margin: .5rem 0 !important;
        }
        #profileUsername {
          font-size: 1.575rem;
          margin: .5rem 0 1.25rem 0 !important;
          border-bottom: 1px solid $mid-light-clr;
        }
        .profile-sect-bio {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .bio-input {
            resize: none;
            outline: none;
            padding: .5rem;
            min-width: 200px;
            max-width: 425px;
            min-height: 115px;
            color: $light-clr;
            border-radius: 8px;
            margin-bottom: .75rem;
            width: 100% !important;
            transition: all 250ms ease;
            background-color: $mid-dark-clr;
            border: 1px solid $low-dark-clr;
            &:focus {
              background-color: $low-dark-clr;
              border: 1px solid $mid-light-clr;
            }
            &:disabled {
              cursor: not-allowed;
              background-color: $low-tp;
            }
          }
          .edit-bio-btn {
            width: 100%;
            max-width: 425px;
            font-size: 1.1rem;
            border-radius: 8px;
            padding: .5rem .35rem;
            margin-bottom: .75rem;
            color: $mid-light-clr;
            transition: all 250ms ease-in;
            border: 1px solid $low-dark-clr;
            background-color: $mid-dark-clr;
            &:hover {
              color: $light-clr;
              border: 1px solid $accent-clr;
              background-color: $low-dark-clr;
            }
          }

          // The other editing buttons for bio 
          .profile-bio-about-btns {
            gap: 1rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            transition: all 300ms ease;

            .profile-bio-save, .profile-bio-cancel {
              width: 80%;
              min-width: 50px;
              max-width: 205px;
              border-radius: 8px;
              text-align: center;
              margin-bottom: .6rem;
              color: $mid-light-clr;
              padding: .5rem .35rem;
              justify-content: center;
              background: $mid-dark-clr;
              border: 1px solid $low-dark-clr;
              i {
                color: $mid-light-clr;
              }
              &:hover {
                color: $light-clr;
                background: $low-dark-clr;
                border: 1px solid $accent-clr;
                i {
                  color: $light-clr;
                }
              }
            }
          }
        }
      }
    }

    // User info 
    .other-user-info {
      width: 25%;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly; 
      h4, p {
        text-align: start;
        margin: 0 !important;
        margin-bottom: .8rem !important;
      }
      .profile-sect-badges {
        display: flex;
        flex-wrap: wrap;
        min-height: 68px;
        align-items: center;
        flex-direction: row;
        margin-bottom: .5rem;
        justify-content: space-evenly;
        .profile-sect-badge {
          width: 25px;
          margin: .25rem;
          img {
            width: 100%;
            min-width: 25px !important;
          }
        }
       }
       .profile-sect-reps {
        .rep {
          display: flex;
          flex-wrap: nowrap;
          font-size: 1.1rem;
          flex-direction: row;
          &:hover {
            cursor: default;

            p,
            span {
              color: $light-clr !important;
            }

            i {
              color: rgb(255, 166, 0);
            }

          }

          p {
            color: $mid-light-clr;
          }

          i {
            margin-left: .8rem;
          }

        }
       }
       .profile-sect-statue {
        a {
          color: $mid-light-clr !important;
          &:hover {
            cursor: pointer;
            color: $accent-clr !important;
            text-decoration: underline !important;
          }
        }
       }
     }
    }
  }
}

// Media Queries 

@media screen and (max-width: 1365px) {

  // Profile Section 
  .profile-sect {
    .pallet {
      padding: 1.75rem 1rem;
      .container {
        display: flex;
        flex-direction: column;
        .profile-sect-divider {
          width: 75%;
          height: 1.5px;
          margin: .5rem auto;
          background: $low-dark-clr;
        }
        .profile-sect-avatar {
          width: 30%;
          align-items: center;
        }
        .user-edit {
          width: 100%;
          justify-content: space-evenly;
          .text-edit-side {
            width: 65%;
          }
        }
          // User info 
        .other-user-info {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1.75rem 1rem;
          justify-content: space-evenly; 
          .profile-sect-reps,
          .profile-sect-statue {
            gap: 1rem;
            text-align: center;
            justify-content: center;
            h4 {
              text-align: center;
            }
            .rep {
              text-align: center;
              align-items: center;
              justify-content: center;
              #repCount {
                margin: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .user-edit {
    gap: 0 !important;
    flex-direction: column !important;
    #profileUsername {
      border-bottom: 1px solid $mid-light-clr;
    }
    .edit-bio-btn {
      margin: 1rem auto !important;
    }
    .change-avatar {
      margin: 0 !important;
      margin-top: .75rem !important;
    }
    .profile-sect-badges {
      .profile-sect-badge {
        margin: 0 .5rem !important;
        img {
          min-width: 25px !important;
        }
      }
    }
    .profile-sect-avatar,
     .text-edit-side {
      width: 100% !important;
      align-items: center !important;
      #bioTitle {
        text-align: center;
        margin: 1rem auto !important;
      }
    }
    .profile-sect-reps,
     .profile-sect-statue {
      width: 80% !important;
      min-width: 80% !important;
    }
    .bio-input {
      min-width: 100% !important;
    }
  }
  .other-user-info {
    gap: 2rem;
    padding: .75rem 0 !important;
    flex-direction: column !important;
  }

  .no-statue {
    text-align: center;
  }
}
