// Discover Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.DiscoverPage {
  background-image: url("../../assets/svgs/discoverpage-background.svg");
}

.discover-content {
  gap: 2.5%; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100% !important;
  justify-content: center;
}

.discover-search-sect {
  width: 60%;
  max-height: 750px;
  .container {
    width: 100%;
    display: flex;
    min-width: 225px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .discover-search-tool {
      gap: 1rem;
      width: 91.5%;
      display: flex;
      padding: 1rem 0;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .search-bar {
        width: 85%;
        height: 100%;
        border: none;
        outline: none;
        padding: .8rem;
        color: $light-clr;
        border-radius: 8px;
        background-color: $low-tp;
        transition: all 250ms ease;
        border: 1px solid $low-dark-clr;
        &:focus {
          background-color: $low-dark-clr;
          border: 1px solid $mid-light-clr;
        }
      }

      .search-bar-btn {
        width: 11%;
        border: none;
        height: 100%;
        outline: none;
        padding: .5rem;
        min-width: 45px;  
        border-radius: 8px;
        transition: all 250ms ease;
        background-color: $mid-dark-clr;
        border: 1px solid $low-dark-clr;

        i {
          color: $prime-clr;
          font-weight: bold;
          font-size: 1.25rem;
          transition: all 300ms ease;
        }

        &:hover {
          i {
            color: $light-clr;
          }
          border: 1px solid $accent-clr;
        }
      }
    }

    hr {
      width: 100%;
      margin: .5rem 0;
    }

    // Discover results LABEL 
    .discover-search-results-label {
      width: 91.5%;
      display: flex;
      height: 1.7rem;
      font-size: .875rem;
      flex-direction: row;
      align-items: center;
      margin-bottom: .25rem;
      justify-content: space-around;
      p {
        margin: auto;
        color: $light-clr;
      }
    }

    // A discover Results 
    .discover-search-results {
      width: 100%;
      display: flex;
      max-height: 420px; 
      overflow-y: scroll;
      overflow-x: hidden;
      align-items: center;
      margin-bottom: 1.75rem;
      flex-direction: column;
      justify-content: flex-start;

      .discover-result {
        width: 90%;
        display: flex;
        padding: .5rem;
        flex-wrap: nowrap;
        margin-top: .75rem;
        text-align: center;
        position: relative;
        border-radius: 8px;
        flex-direction: row;
        align-items: center;
        transition: all 500ms ease;
        justify-content: space-between;
        border: 1px solid $low-dark-clr;
        background-image: linear-gradient(to top, $mid-dark-clr, $mid-dark-clr);

        hr {
          max-width: 115px;
        }

        // Left Result 
        .discover-result-left {
          gap: 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
      
          .discover-result-img-wrapper {
            width: 50px;
            height: 50px;
            margin: 0 .8rem;
            min-width: 50px;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              padding: .135rem;
              border-radius: 50%; 
              border: 1px solid $mid-light-clr; 
            }
          }
        }

        // Right Result 
        .discover-result-right {
          // gap: 1rem; 
          width: 50%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        .discover-result-name, 
        .discover-result-statue-link,
        .discover-result-reps {
          margin: 0 .5rem; 
          width: fit-content;
          color: $mid-light-clr;
          text-align: start;
        }

        &:hover {
          border: 1px solid $mid-light-clr;
          background-image: linear-gradient(to top, #00000013, #ffffff05);

          .discover-result-img-wrapper {
            img {
              border: 1px solid $light-clr;
            }
          }
          
          .discover-result-name, 
          .discover-result-reps {
            color: $light-clr;
          }
          
          .discover-result-statue-link {
            color: $light-clr;
            &:hover {
              text-decoration: underline !important;
            }
          }
 
          hr {
            color: $second-clr;
          }
        }
      }
    }

    .search-svg {
      width: 40%;
      opacity: .9;
      margin: 5rem;
      filter: grayscale(75%);
    }
  }
}

// Friends 

.discover-user-friends {
  width: 30%;
  min-width: 275px;
  max-width: 400px;
  max-height: 750px;
  overflow-y: scroll;

  .friends-list {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    .friend {
      width: 100%;
      display: flex;
      max-width: 275px;
      flex-wrap: nowrap;
      border-radius: 8px;
      align-items: center;
      flex-direction: row;
      padding:.4rem .25rem;
      border: 1px solid transparent;
      justify-content: space-between;

      .friend-left {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;

        .friend-avatar {
          width: 45px;
          padding: .2rem;
          border-radius: 50%;
          border: 1px solid $prime-clr;
        }
  
        .friend-username {
          margin: 0 1rem;
          font-weight: bold;
        }

        .bi {
          color: $yellow-clr;
        }
      }
  
      button {
        border: none;
        outline: none;
        background-color: transparent;

        i {
          font-size: 1.5rem;
          color: $light-clr;
        }
      }

      &:hover {
        border: 1px solid $low-dark-clr;
      }
    }
  }
}

// Media Queries 

@media screen and (max-width: 1275px) {
  .discover-content {
    align-items: center;
    flex-direction: column;

    .discover-search-sect {
      width: 100%;
    }

    // Friends 
    .discover-user-friends {
       width: 100%;
       max-width: unset;

       .friends-list {
         flex-wrap: wrap;
         flex-direction: row;
         align-items: center;
         justify-content: space-evenly;

        .friend {
          width: 45%;
          min-width: 250px; 
          margin-bottom: .25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .discover-content {
    .discover-user-friends {
       .friends-list {
        .friend {
          width: 50%;
          max-width: 375px;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .discover-search-sect {
    .container {
      .discover-search-results  {
        .discover-result {
          font-size: .9rem; 
          flex-direction: column;

          .discover-result-img-wrapper {
            width: 45px;
            height: 45px;
            min-width: 45px;
          }
        }
      }
    }
  }
}
