// Discover Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.DiscoverPage {
  background-image: url("../../assets/svgs/discoverpage-background.svg");

  h3 {
    margin: 1rem 0 !important;
  }
}

.discover-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2.5%;
}

.discover-search-sect {
  .container {
    width: 100%;
    display: flex;
    min-width: 225px;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .discover-search-tool {
      gap: 1rem;
      width: 91.5%;
      padding: 1rem 0;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .search-bar {
        width: 85%;
        height: 100%;
        border: none;
        outline: none;
        padding: .8rem;
        color: $light-clr;
        border-radius: 8px;
        background-color: $low-tp;
        transition: all 250ms ease;
        border: 1px solid $low-dark-clr;
        &:focus {
          background-color: $low-dark-clr;
          border: 1px solid $mid-light-clr;
        }
      }

      .search-bar-btn {
        width: 11%;
        border: none;
        height: 100%;
        outline: none;
        padding: .5rem;
        min-width: 45px;  
        border-radius: 8px;
        transition: all 250ms ease;
        background-color: $mid-dark-clr;
        border: 1px solid $low-dark-clr;

        i {
          color: $prime-clr;
          font-weight: bold;
          font-size: 1.25rem;
          transition: all 300ms ease;
        }

        &:hover {
          i {
            color: $light-clr;
          }
          border: 1px solid $accent-clr;
        }
      }
    }

    // Discover results LABEL 
    .discover-search-results-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 91.5%;
      font-size: .875rem;
      height: 1.7rem;
      p {
        color: $light-clr;
        margin: auto;
      }
    }

    // A discover Results 
    .discover-search-results {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.75rem;
      .discover-result {
        width: 90%;
        display: flex;
        padding: .5rem 0;
        flex-wrap: nowrap;
        margin-top: .75rem;
        text-align: center;
        position: relative;
        border-radius: 8px;
        flex-direction: row;
        align-items: center;
        transition: all 500ms ease;
        justify-content: space-evenly;
        border: 1px solid $low-dark-clr;
        background-image: linear-gradient(to top, $mid-dark-clr, $mid-dark-clr);

        .discover-result-img-wrapper {
          width: 50px;
          height: 50px;
          margin: 0 .8rem;
          border-radius: 50%;
          min-width: 50px;
          img {
            width: 100%;
            height: 100%;
            padding: .135rem;
            border-radius: 50%; 
            border: 1px solid $mid-light-clr; 
          }
        }
        .discover-result-name, 
        .discover-result-statue-link,
        .discover-result-reps {
          width: fit-content;
          margin: 0 .75rem;
          color: $mid-light-clr;
        }

        &:hover {
          border: 1px solid $mid-light-clr;
          background-image: linear-gradient(to top, #00000013, #ffffff05);
          
          .discover-result-name, 
          .discover-result-reps {
            color: $light-clr;
          }
          
          .discover-result-statue-link {
            color: $accent-clr;
            &:hover {
              text-decoration: underline !important;
            }
          }
        }
      }
    }

    .search-svg {
      width: 40%;
      opacity: .9;
      margin: 5rem;
      filter: grayscale(75%);
    }
  }
}

// Friends 

.discover-user-friends {
  width: 30%;
  min-width: 275px;

  .friends-list {
    padding: 0;
    display: flex;
    flex-direction: column;

    .friend {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
      padding:.5rem .2rem;
      justify-content: space-between;

      .friend-left {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;

        .friend-avatar {
          width: 45px;
          padding: .2rem;
          border-radius: 50%;
          border: 1px solid $prime-clr;
        }
  
        .friend-username {
          margin: 0 1rem;
          font-weight: bold;
        }
      }
  
      button {
        border: none;
        outline: none;
        background-color: transparent;

        i {
          font-size: 1.5rem;
          color: $light-clr;
        }
      }
    }
  }
}

// Media Queries 

@media screen and (max-width: 1275px) {
  .discover-content {
    align-items: center;
    flex-direction: column;

    .discover-search-sect {
      width: 100%;
    }

    // Friends 

    .discover-user-friends {
       width: 100%;
    }
  }
}