// Mini Statue Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.MiniStatuePage {

 .mini-statue-card {
  width: 100%;
  height: auto;
  display: flex;

  h2 {
    text-align: start;
    margin-bottom: 1rem;
  }

  // --- Left Side --- 

  .mini-statue-card-content {
    display: flex;
    flex-direction: column;
  }

  // --- Right Side --- 

  .mini-statue-card-showcase {
    .mini-statue-img {
      width: 250px;
      height: 250px;
      object-fit:cover;
     }
  }
 }
}