// Mini Statue Page SASS file 

// SCSS Variables 
@import "../../sass/variables.scss";

.MiniStatuePage {
 .go-back-btn {
   margin: 0;
   cursor: pointer;
   width: fit-content;
   color: $mid-light-clr;
   i {
   color: $mid-light-clr;
    margin-right: .5rem;
   }
  &:hover {
    color: $second-clr;
    i {
      color: $second-clr;
    }
  }
 }

 .mini-statue-card {
  width: 100%;
  height: auto;
  display: flex;

 }

 .mini-statue-img {
  width: 250px;
  height: 250px;
  object-fit:cover;
 }
}